<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="width: 60rem">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3>Let's test creativity</h3>
            </div>
            <div class="col">
              <button class="btn btn-link collapsed float-end" data-toggle="collapse" data-target="#collapse-L1"
                      aria-expanded="true" aria-controls="collapse1" (click)="toggleCard('review')">
                <i class="fa fa-plus-square" style="font-size:18px;color:black"></i></button>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="toggleReview">Put in Review Url : <input type="text" class="form-control"
                                                                              [(ngModel)]="link">
          <p></p>
            <button type="button" (click)="onLookup()" class="btn btn-primary">Search</button>
          <p></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Creativity</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let p of reviewInfo; index as i">
              <td>{{ p.creativity }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container-fluid'>
        <div class='row home_title'>

        </div>
        <div class='row justify-content-center'>
            <div class='home_box'>
                Creativity Scoring
            </div>
        </div>
        <div class='row justify-content-center'>


        </div>

        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421aa60d5dd23_hero-image03.svg'
                 class='p p3'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4215411d5dd10_hero-image08.svg'
                 class='p p4'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd4217a28d5dd16_hero-image06.svg'
                 class='p p5'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421940ed5dd28_hero-image02.svg'
                 class='p p6'>
        </div>
        <div>
            <img src='https://uploads-ssl.webflow.com/626ce13d6bd421572ad5dceb/626ce13e6bd421209bd5dd18_hero-image09.svg'
                 class='p p7'>
        </div>
    </div>
